<html>
    <head>
        <title>Details</title>
    </head>
    <body>
        <div>
            <ul>
                <li>
                    <p><%= message.user %></p>
                    <p><%= message.text %></p>
                    <p><%= message.added.toLocaleString() %></p>
                </li>
            </ul>
        </div>
        <a href="/"><button>Back</button></a>
    </body>
</html>