<html>
    <head>
        <title>Chit Chat</title>
    </head>
    <body>
        <h2><%= title %></h2>
        <div>
            <% messages.forEach((message) => { %>
                <div>
                    <p><%= message.user %></p>
                    <p><%= message.text %></p>
                </div>
                <p><%= message.added.toDateString() %></p>
            <% }) %>
        </div>
        <span>
            <a href="/new">Send a Message</a>
        </span>
    </body>
</html>